.cards-grid__heart-btn {
    width: 21px;
    height: 19px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    -webkit-appearance: none;
    margin: 35px 17px 35px 0;
    background-image: url("../../../images/heart-btn_vector.svg");
    background-repeat: no-repeat;
    border: none;
    z-index: 100;
    box-sizing: border-box;
    z-index: 1000;
}

.cards-grid__heart-btn:hover {
    opacity: 0.6;
    transition: ease-in-out 0.3s;
}