.popup__input_type_error {
    font-size: 12px;
    color: #FF0000;
    opacity: 0;
    transition: 0.3s;
    border-bottom-color: #FF0000;
    max-width: 358px;
    margin: auto;
    text-align: left;
    padding-bottom: 13px;
}
