.profile {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    max-width: 882px;
    margin: 40px auto;
    position: relative;
}

@media screen and (max-width: 970px) and (min-width: 768px) {
    .profile {
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .profile {
        display: block;
        text-align: center;
        max-width: 282px;
    }
}
