.popup__gallery{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: relative;
    padding: 31px 31px 0 0;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
    .popup__gallery{
        padding: 0;
    }
}