.popup__btn_disabled {
    color: #000000;
    opacity: 0.2;
    background-color: #FFFFFF;
    border: black solid 1px;
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    margin:  18px 36px 37px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: not-allowed;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .popup__btn_disabled {
        width: 80%;
        font-size: 14px;
        align-self: center;
    }
}