.popup__close-icon_lightbox {
    align-self: flex-end;
    position: absolute;
    top: 0;
    margin: 0 50px;
}

@media screen and (min-width: 320px) and (max-width: 500px){
    .popup__close-icon_lightbox {
        margin: 0 50px 0 0;
        top: -40px;
        right: -85px;
        background-image: url('../../../../images/mobile_close_icon.svg');
    }
}