.popup__inner-container {
    max-width: 358px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .popup__inner-container{
        width: 180px;
        margin: 0;
    }
}